.Contact {
  padding-top: 110px;
  padding-bottom: 120px;
  background-color: #222;
  background-image: url('/img/map.png');
  background-repeat: no-repeat;
  background-position: 100% 212%;
  background-size: 47%;
}
